body {
    background-color: black;
    color: white;
    font-family: monospace;
    overflow: hidden;
  }
  
  #dashboard-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #go-to-page-button {
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    cursor: pointer;
    margin-bottom: 20px;
    transition: transform 0.3s;
  }
  
  #ascii-art {
    color: green;
    font-size: 20px;
    animation: blink 1.5s infinite;
  }
  
  @keyframes blink {
    50% {
      color: transparent;
    }
  }
  